body {
  padding: 70px;
  font-family: "Google Sans";
}

textarea {
  width: 100%;
  padding: 10px;
  height: 300px;
  font-family: monospace;
}

button {
  padding: 10px;
  margin: 10px;
}

pre,
textarea {
  border: 1px solid black;
  padding: 10px;
}

.shell {
  background: lightgray;
}

.question {
  padding: 10px;
  display: block;
}

.help {
  font-style: italic;
  font-size: 80%;
}

.help code {
  font-style: normal;
}

pre code li::before {
  content: "$ ";
}

pre code li {
  list-style-type: none;
}

.prefill {
  font-size: 80%
}

r {
  color: red;
}

.switch {
  margin: 30px;
}

.important {
  background: rgb(240, 197, 161);
}
