<html>

<head>
  <!--- Basic HTMX functionality -->
  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  <!--- Extension for swapping multiple fields at once -->
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/multi-swap.js"></script>

</head>
<style>
  #terraform {
    width: 60%;
    padding: 10px;
    height: 200px;
  }

  pre,
  textarea {
    border: 1px solid black;
    padding: 10px;
    width: 60%;
  }

  .question {
    padding: 10px;
    display: block;
  }

  .help {
    font-style: italic;
    font-size: 80%;
  }
</style>

<body hx-ext="multi-swap">

  <h1>Deploy Service Service</h1>
  <p>This page will help you setup the thing. </p>
  <div id="inputs">
    <h2>Customisation</h2>

    <div class="question">
      <label>Project ID</label>
      <input type="text" name="project" hx-post="/input" hx-trigger="change"
        hx-swap="multi:#project0,#project1,#project2,#project6,#project7">
      <div class="help">Requires a Google Cloud project (LINK)</div>
    </div>

    <div class="question">
      <label>Project Number</label>
      <input type="text" name="projectnum" hx-post="/input" hx-trigger="change" hx-swap="multi:#projectnum0">
      <div class="help">Get this by running
        <code>gcloud projects describe <span id="project0">PROJECT_ID</span> --format="value(projectNumber)"</code>
      </div>
    </div>

    <div class="question">
      <label>Region</label>
      <input type="text" name="region" hx-post="/input" hx-trigger="change" hx-swap="multi:#region8,#region9">
      <div class="help">Where do you want to deploy your service?</div>
    </div>

    <div class="question">
      <label>Service Name</label>
      <input type="text" name="service" hx-post="/input" hx-trigger="change" hx-swap="multi:#service8,#service9">
      <div class="help">What should your service be called?</div>
    </div>

    <div class="question">
      <label>GitHub repo</label>
      <input type="text" name="repo" hx-post="/input" hx-trigger="change" hx-swap="multi:#repo2,#repo0">
      <div class="help">Use either UserName/Repo or Organisation/Repo</div>
    </div>

    <div class="question">
      <label>Default branch</label>
      <input type="text" name="branch" hx-post="/input" hx-trigger="change" hx-swap="multi:#branch1">
      <div class="help">"master", "main", "latest", etc. </div>
    </div>

    <div class="question">
      <label>Allow unauthenticated invocations</label>
      <input type="checkbox" value="true" name="public" hx-get="/public" hx-trigger="change"
        hx-swap="multi:#public-flag,#public-iam">
      <div class="help">Do you you want anyone to be able to open your website?</div>
    </div>

    <h1>Source control based deployments</h1>

    <div id="output">
      <h2>Run this setup</h2>
      <li>Run these setup steps to prepare your project</li>
      <pre><code>gcloud config set project <span id="project1">...</span>
gcloud services enable \
    cloudresourcemanager.googleapis.com \
    cloudbuild.googleapis.com    </code></pre>

      <h2>Apply this Terraform</h2>
      <li>Copy this code into a <code>main.tf</code> file.
        <button id="copyterraform">Copy to clipboard</button><br>
        <script>document.querySelector("#copyterraform").onclick = function () {
            document.querySelector("#terraform").select();
            document.execCommand('copy');
            document.querySelector("#copyterraform").innerHTML = "Copied!"
          }</script>
        <textarea id="terraform" readonly>{% include "_terraform.tf" %}</textarea>

      <li>Execute the code: </li>
      <pre><code>terraform init
terraform apply \
  -var project_id=<span id="project2">...</span> \
  -var github_repo=<span id="repo2">...</span>
  </code></pre>

      <h2>Create this GitHub Action</h2>

      <li>Add this file to your repo at <code>.github/workflows/deploy.yaml</code></li>

      <pre><code>{%include "_githubaction.yaml" %}</code></pre>

      <span id="public-iam"><b>Optional: </b></span>To make the service public:
      <pre><code>gcloud run services add-iam-policy-binding <span id="service8">...</span> \
  --region <span id="region8">...</span> \
  --member allUsers --role roles/run.invoker</code></pre>

      <hr>
      <h1>One-time deployment</h1>

      If you have your GitHub repo cloned locally, you can just run this:
      <pre><code>cd /path/to/<span id="repo0">repo</span>
gcloud run deploy <span id="service0">myservice</span> <span id="public-flag"></span>
    </code></pre>

</body>

</html>
