<html>

<head>
  <!--- Basic HTMX functionality -->
  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  <!--- Extension for swapping multiple fields at once -->
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/multi-swap.js"></script>
  <!--- Style framework -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css" />
  <!--- Custom style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='_style.css')}}" />
  <title>Deploy Service Service</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛠️</text></svg>">
</head>

<body hx-ext="multi-swap" class="container">

  <h1>Deploy Service Service</h1>
  <p>This page will help you setup the elements to get a GitHub repo containing code for a website deployed to Cloud
    Run.</p>
  <p>It will use:
    <li><a href="https://docs.github.com/en/actions">GitHub Actions</a>,</li>
    <li><a href="https://cloud.google.com/iam/docs/workload-identity-federation">Workload Identity Federation</a>,</li>
    <li><a href="https://www.terraform.io/">Terraform</a>, and </li>
    <li>the <a href="https://cloud.google.com/sdk">Google Cloud SDK</a>.</li>
  <p>Don't want to link a repo? <a href="#manual">Go to the manual method.</a></p>
  </p>
  <div id="inputs">
    <h2>Customisation</h2>
    <div class="grid">

      {% with
      label="Project ID",
      variable="project",
      help="Requires a <a
        href='https://cloud.google.com/resource-manager/docs/creating-managing-projects#creating_a_project'>Google
        Cloud project</a>" %}{% include "_question.html" %}{% endwith %}

      {% with
      label="Project Number",
      variable="projectnum",
      help="Get this by running:
      <code>gcloud projects describe <span id='project0'>PROJECT_ID</span> --format 'value(projectNumber)'</code>" %}{%
      include "_question.html" %}{% endwith %}

      {% with
      label="Region",
      variable="region", value=region,
      help="Where do you want to deploy your service? Choose a <a
        href='https://cloud.google.com/run/docs/locations'>Cloud Run location</a>" %}{%
      include "_question.html" %}{% endwith %}

    </div>
    {% if prefill_message %}<p class="prefill">✨
      <i>Since you came from GitHub, we're prefilled some of these for you. Feel free to change them.</i>
      ✨
    </p>{% endif %}

    <div class="grid">

      {% with
      label="Service name",
      variable="service", value=service_name,
      help="What should your service be called?" %}{%
      include "_question.html" %}{% endwith %}

      {% with
      label="GitHub Repo",
      variable="repo", value=github_repo,
      help="Use either UserName/Repo or Organisation/Repo (don't include the 'github.com')" %}{%
      include "_question.html" %}{% endwith %}

      {% with
      label="Default branch",
      variable="branch", value=branch,
      help="It's probably 'main', 'latest', etc." %}{%
      include "_question.html" %}{% endwith %}

    </div>

    <div class="grid">

      {% with
      label="Base directory",
      variable="directory", value=directory,
      help="Do you want to build from the root directory, or somewhere else?" %}{%
      include "_question.html" %}{% endwith %}

      <div class="question">
        <label>Allow unauthenticated invocations</label>
        No <input class="switch" type="checkbox" value="true" role="switch" name="public" hx-get="/public"
          hx-trigger="change" hx-swap="multi:#public-flag,#public-iam"> Yes
        <div class="help">Do you you want <b>anyone</b> to be able to open your website?</div>
      </div>

      <div class="question"></div>
    </div>
    <h3>Optional</h3>
    <div class="grid">

      {% with
      label="Service account name",
      variable="serviceaccount", value="gh-service-account",
      help="Name of the service account to create." %}{%
      include "_question.html" %}{% endwith %}

      {% with
      label="Workload Identity Pool ID",
      variable="pool", value="gh-pool",
      help="Name of the Workload Identity Pool." %}{%
      include "_question.html" %}{% endwith %}


      {% with
      label="Workload Identity Provider ID",
      variable="provider", value="gh-provider",
      help="Name of the service account to create." %}{%
      include "_question.html" %}{% endwith %}

    </div>
  </div>

  <h1>Source control based deployments</h1>

  <div id="output">
    <h2>Run this setup</h2>
    Run these setup steps to prepare your project. Don't have <code>gcloud</code>? Use <a
      href="https://cloud.google.com/shell">Cloud Shell</a>
    <pre class="shell"><code><li>gcloud config set project <span id="project1">PROJECT_ID</span></li>
<li>gcloud services enable \
    cloudresourcemanager.googleapis.com \
    cloudbuild.googleapis.com</li></code></pre>

    <h2>Apply this Terraform</h2>
    Copy this code into a <code>main.tf</code> file.

    <button id="copyterraform" class="secondary">Copy to clipboard</button><br>

    <textarea id="terraform" readonly>{% include "_terraform.tf" %}</textarea>
    <br><i>We suggest putting this in a temporary folder, as it will generate files you don't want in your repo
      code.</i>
    <br><br>
    Execute the code:
    <pre class="shell"><code><li>terraform init</li>
<li>terraform apply \
    -var project_id=<span id="project2">PROJECT_ID</span> \
    -var github_repo=<span id="repo2">{{github_repo}}</span> \
    -var service_account=<span id="serviceaccount2">gh-account</span> \
    -var pool_id=<span id="pool2">gh-pool</span> \
    -var provider_id=<span id="provider2">gh-provider</span> \
</li>
</code></pre>

    <p>You will have to confirm the changes by typing <code>yes</code> when prompted. </p>
    <p>The Terraform execution will take a minute to complete.</p>

    <h2>Create this GitHub Action</h2>

    Add this file to your repo at <code>.github/workflows/deploy.yaml</code>

    <pre><code>{%include "_githubaction.yaml" %}</code></pre>

    <p>Once you commit this file, this action will run and deploy your service.</p>

    {% if options %}
    <div class="important">
      <b>Important</b>: The code you're deploying also came with extra settings (defined in <code>app.json</code>).<br>
      Instead of adding these configs to your GitHub action, you should update your deployed service with these configs.

      <pre class="shell"><code><li>gcloud run services update <span id="service6">{{service_name}}</span> \
    {{options}}</li></code></pre>
    </div>
    {% endif %}
    {% if service_secrets %}
    <div class="important">
      <b>Important</b>: The code you're deploying also came with services (defined in <code>app.json</code>).<br>
      These need to be defined, then added to your service.

      <pre class="shell"><code><li>gcloud run services update <span id="service6">{{service_name}}</span> \
    {{service_secrets}}</li></code></pre>
    </div>
    {% endif %}


    <p>
      <span id="public-iam"><b>Optional: </b></span>To make the service public:
    <pre class="shell"><code><li>gcloud run services add-iam-policy-binding <span id="service8">{{service_name}}</span> \
    --region <span id="region8">{{region}}</span> \
    --member allUsers --role roles/run.invoker</li></code></pre>
    </p>


    <p>Now, any time you push to the <span id="branch2">{{branch}}</span> branch, a new version of <span
        id="service7">{{service_name}}</span> service will be deployed.
    </p>
    <hr>
    <a name="manual"></a>
    <h1>Alternatively: One-time deployment</h1>

    If you have your GitHub repo cloned locally, you can just run this and follow the prompts:
    <pre class="shell"><code><li>cd /path/to/<span id="repo0">repo</span></li>
<li>gcloud run deploy <span id="public-flag"></span></li></code></pre>

    <H2>Learn more</H2>
    <p>
      <li><a href="https://github.com/google-github-actions/deploy-cloudrun">deploy-cloudrun GitHub Action</a></li>
      <li><a href="https://cloud.google.com/iam/docs/best-practices-for-using-workload-identity-federation">Workload
          Identity best practices</a></li>
    </p>
    <p>Developed with 🪿 by @glasnt</p>

    <script>

      document.querySelector("#copyterraform").onclick = function () {
        document.querySelector("#terraform").select();
        document.execCommand('copy');
        document.querySelector("#copyterraform").innerHTML = "Copied!"
      }

    </script>
</body>

</html>
